{% extends "layout.html" %}
{% block title %}{{forum.name}}{% endblock %}
{% block content %}
    <h2>{{forum.name}}</h2>
    <p>{{forum.description}}</p>
    {% if session.username %}
        <div class="creation">
            <h3>Create a new post</h3>
            <form class="create-form" action="/forums/{{forum.id}}/posts" method="POST">
                <label for="title">Title:</label>
                <input type="text" name="title" id="title">
                <label for="body">Body:</label>
                <textarea type="text" name="body" id="body"></textarea> 
                <input class="create-button" type="submit" value="Create">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
    {% endif %}
    {% for post in posts %}
        <div class="post">
            <h3>{{ post.title }}</h3>
            <div class="post-bottom">
                <div class="box">by <a href="/users/{{ post.user_id }}/profile" >{{ post.author }}</a></div>
                    {% if session.user_id %}
                        {% if post.liked_by_curr_user %}
                            <form action="/forums/{{forum.id}}/posts/{{post.id}}/unlike" method="POST">
                                <input type="submit" class="unlike-button" value="{{ post.like_count }} likes">
                                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            </form>
                        {% else %}
                            <form action="/forums/{{forum.id}}/posts/{{post.id}}/like" method="POST">
                                <input type="submit" class="like-button"  value="{{ post.like_count }} likes">
                                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            </form>
                        {% endif %}
                    {% else %}
                        {{ post.like_count }} likes
                    {% endif %}
                <div class="box">
                    <a href="/forums/{{forum.id}}/posts/{{ post.id }}/comments">{{ post.comment_count }} comments</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}